<head>
    <link rel="stylesheet" href="/css/admin_dashboard.css?<%=Time.now.to_i%>">
</head>

<main>
    <h1>Admin Dashboard</h1>
    <div class="admin-controlls">
        <a href="/products/new" class="btn-1 btn-color">
            ADD NEW PRODUCT
        </a>
        <a href="/admin/products" class="btn-1 btn-color">
            EDIT PRODUCTS
        </a>
    </div>
</main>