
<h1>Welcome admin</h1>

<div class="quick-stats">
    <h2>Quick stats</h2>
    <ul>
        <li>Stock: -</li>
        <li>Sold stock: -</li>
        <li>Sold this month: -</li>
        <li>Sales income: -</li>
        <li>Sales income this month: -</li>
        <li>Sales outcome: -</li>
        <li>Sales outcome this month: -</li>
        <li>Sales revenue (pre tax): -</li>
        <li>Sales revenue this month (pre tax): -</li>
    </ul>
    <a href="/admin/create_new_product" class="btn-1 btn-color">
        ADD NEW PRODUCT
    </a>
    <a href="/admin/products" class="btn-1 btn-color">
        EDIT PRODUCTS
    </a>
</div>
