<head>
    <link rel="stylesheet" href="/css/register.css?<%=Time.now.to_i%>">
</head>

<div class="log-in-container user-form-container">
    <h1>Admin log in</h1>
    <p>
        Return back to user log in?
        <a href="/log_in">Log in</a>
    </p>



    <form action="/admin/log_in" method="post" class="register-form log-in-form">
        <div class="part">
            <label>
                Username or email
            </label>
            <input type="text" name="user_name_email" class="text-input">
        </div>


        <div class="part">
            <label>
                Password
            </label>
            <input type="password" name="password" class="text-input">
        </div>

        <input type="submit" value="Log in" class="btn-1 btn-submit">
    </form>
</div>