
<div class="log-in-container user-form-container">
    <h1>Log in</h1>
    <p>
        Don't have any account yet?
        <a href="/sign_up">Sign up</a>
    </p>



    <form action="/log_in" method="post" class="register-form log-in-form">
        <div class="part">
            <label>
                User name
            </label>
            <input type="text" name="username" class="text-input">
        </div>

        <div class="part">
            <label>
                User email
            </label>
            <input type="email" name="user_email" class="text-input">
        </div>

        <div class="part">
            <label>
                Password
            </label>
            <input type="password" name="password" class="text-input">
        </div>

        <input type="submit" value="Log in" class="btn-1 btn-submit">
    </form>
</div>