<form action="/login" method="post" class="login-form">
    <label>
        Username
    </label>
    <input type="text" name="username">

    <label>
        Password
    </label>
    <input type="text" name="password">

    <input type="submit" value="Spara" class="button-classic">

</form>