
<div class="log-in-container user-form-container">
    <h1>Sign up</h1>
    <p>
        Already have an account?
        <a href="/log_in">Log in</a>
    </p>



    <form action="/sign_up" method="post" class="register-form log-in-form">
        <div class="part">
            <label>
                User name
            </label>
            <input type="text" name="username" class="text-input">
        </div>

        <div class="part">
            <label>
                User email
            </label>
            <input type="email" name="user_email" class="text-input">
        </div>

        <div class="part">
            <label>
                Password
            </label>
            <input type="password" name="password" class="text-input">
        </div>

        <div class="part">
            <label>
                Confirm Password
            </label>
            <input type="password" class="text-input">
        </div>

        <input type="submit" value="Sign up" class="btn-1 btn-submit">
    </form>
</div>